{{#each message}}
    <div class='container'>
        <img src={{imgSrc}} alt='Avatar' class='avatar-image' />
        <p class='message-top-line'><span class='message-name'>{{name}}</span><span
                class='message-time'
            >{{time}}</span></p>
        <p class='ellipsis'>{{text}}</p>
    </div>
{{/each}}