@color-orange: #ff9900;
@color-graylight: #cccccc;
@color-asphalt: #d3d3d3;
@color-blackmedium: #454545;
body {
    background: @color-asphalt;
    color: @color-blackmedium;
}

// .split {
//     height: 100%;
//     width: 50%;
//     position: fixed;
//     z-index: 1;
//     top: 0;
//     overflow-x: hidden;
//     padding-top: 20px;
// }

.left-menu-panel {
    position: relative;
  width: 50%;
  float: left;
  height: 100%;
  background-color: #282828;
}

.dialog-panel {
    position: relative;
    width: 50%;
    float: left;
    height: 100%;
    background-color: #0080ff;
    z-index: 1010101010
  }

// .concrete {
//     color:@color-orange;
// }
// h1, h2{
//     color: @color-blackmedium;
// }