
<head>
    <link rel="stylesheet/less" type="text/css" href="../../style.less">
    <title>Book Face</title>
    <script src="//cdn.jsdelivr.net/npm/less@3.13" ></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="../../src/components/script.js"></script>
</head>

<body>
    {{{body}}}
</body>
