<html lang="en">
    <head>
        <link rel="stylesheet/less" type="text/css" href="../../style.less" />
        <title>Chat</title>
        <script src="//cdn.jsdelivr.net/npm/less@3.13"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"
        ></script>
        <script type="module" src="../../src/utils/logger.js"></script>
    </head>

    <body>
        {{{body}}}
    </body>
</html>