.exit-button {
  color: #DD7676;
}

.login-button {
  background-color: #464B65;

  border-radius: 8px;
  width: 280px;
  height: 37px;
}

.login-button a {
  color: white;
}

.login-button-margin {
  margin-top: 130px;
  margin-bottom: 20px;
}
