.message-search {
    width: 50%;
}

.message-top-line {
    display: flex;
    justify-content: space-between;
}

.profile-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-page-container {
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.profile-page-container-html {
    display: flex;
    height: 100%;
    padding: 0;
    margin-top: 24vh;
    // margin: 0;
    align-items: center;
    justify-content: center;
}

.left-menu-panel {
    position: relative;
    width: 30%;
    float: left;
    height: 100vh;
    background-color: #f2f2f2;
    overflow: auto;
}

.go-back-panel {
    position: relative;
    width: 50px;
    float: left;
    height: 100vh;
    background-color: #f2f2f2;
    overflow: auto;
}

.dialog-panel {
    width: 70%;
    position: relative;
}

.message-panel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

.page-container {
    display: flex;
}
