.login-title {
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.login-input {
  width: 70%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  // border-bottom-style: groove;
  border-bottom: 1px solid #464B65;
  margin-bottom: 20px;
}