<div class='profile-page-container'>
    <div class='profile-page-content'>
        <span class="error-name">404</span>
        <span class="error-capture">Такой страницы нет. Чтобы вернуться на прошлую страницу нажмите
            кнопку</span>
        <button class='login-button login-button-margin'><a
                href='/chat'
            >Вернуться назад</a></button>
    </div>
</div>