<html lang='en'>
    <head>
        <link rel='stylesheet/less' type='text/css' href='../../style.less' />
        <title>Chat</title>
        <script src='//cdn.jsdelivr.net/npm/less@3.13'></script>
        <script
            src='https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js'
        ></script>
        <script type='module' src='../../src/utils/logger.js'></script>
    </head>

    <body>

        <div class='profile-page-container'>
            <div class='profile-page-content'>
                <img
                    src='../static/img/avatar.png'
                    alt='Avatar'
                    style='width:190px'
                />
                <table class='profile-section'>
                    {{#each profile}}
                        <tr>
                            <td>{{category}}</td>
                            <td class='second-column'>{{content}}</td>
                        </tr>
                    {{/each}}
                    <tr style='height:40px'><td></td><td></td></tr>

                    <tr>
                        <td><button>Изменить данные</button></td>
                        <td class='second-column'></td>
                    </tr>
                    <tr>
                        <td><button>Изменить пароль</button></td>
                        <td class='second-column'></td>
                    </tr>
                    <tr>
                        <td><button><a
                                    class='exit-button'
                                    href='/login'
                                >Выйти</a></button></td>
                        <td class='second-column'></td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>