<div class="profile-page-container">
    <div class="profile-page-content signin-wrap">
        <span class="login-title">Регистрация</span>
        <input type="text" placeholder="Почта" class="login-input" />
        <input type="text" placeholder="Логин" class="login-input" />
        <input type="text" placeholder="Имя" class="login-input" />
        <input type="text" placeholder="Фамилия" class="login-input" />
        <input type="tel" placeholder="Телефон" class="login-input" />
        <input
            type="password"
            placeholder="Пароль"
            name="password-enter"
            class="login-input"
            autocomplete="new-password"
        />
        <input
            type="password"
            placeholder="Пароль ещё раз"
            name="password-enter"
            class="login-input"
            autocomplete="new-password"
        />
        <button
            class="login-button login-button-margin"
        ><a href="/chat">Зарегистрироваться</a></button>
        <button class="register-button"><a href="/login">Войти</a></button>

    </div>
</div>