<div class='profile-page-container'>
    <div class='profile-page-content'>
        <img src='https://i.pinimg.com/originals/ff/a0/9a/ffa09aec412db3f54deadf1b3781de2a.png' alt='Avatar' style='width: 190px' />
        <table class='profile-section' id='profilePanel'>

            {{#each profile}}
                <tr>
                    <td>{{category}}</td>
                    <td class='second-column'>{{content}}</td>
                </tr>
            {{/each}}

            <tr style='height: 40px'>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td><button>Изменить данные</button></td>
                <td class='second-column'></td>
            </tr>
            <tr>
                <td><button>Изменить пароль</button></td>
                <td class='second-column'></td>
            </tr>
            <tr>
                <td>
                    <button>
                        <a class='exit-button' href='index.html'>Выйти</a>
                    </button>
                </td>
                <td class='second-column'></td>
            </tr>
        </table>
    </div>
</div>