<div class='profile-page-container'>
    <div class='profile-page-content'>
        <img
            src='https://i.pinimg.com/originals/ff/a0/9a/ffa09aec412db3f54deadf1b3781de2a.png'
            alt='Avatar'
            class='avatar-width-profile'
        />
        <div class='profile-section' id='profilePanel'>

            {{#each profile}}
                <p>
                    <div>{{category}}
                        <span class='second-column'>{{content}}</span>
                    </div>
                </p>
            {{/each}}

            <p class='divider'></p>

            <div>
                <p><button>Изменить данные</button></p>
            </div>
            <div>
                <p><button>Изменить пароль</button></p>
            </div>
            <div>
                <p>
                    <button>
                        <a class='exit-button' href='index.html'>Выйти</a>
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>