@import '../../theme.less';

.aside {
  align-items: center;
  background-color: @grey-background-color-03;
  border-right: 2px solid @grey-background-color-02;
  display: flex;
  justify-content: center;
  height: 100%;
  position: fixed;
  width: @aside-width;
}
