@import "./style/tables.scss";
@import "./style/message.scss";
@import "./style/chatNavigation.scss";
@import "./style/buttons.scss";
@import "./style/login.scss";
@import "./style/error.scss";

body {
    margin: 0px;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

button:hover {
    cursor: pointer;
}
