@import './style/tables.scss';
@import './style/message.scss';
@import './style/chatNavigation.scss';
@import './style/buttons.scss';
@import './style/login.scss';
@import './style/error.scss';

body {
    margin: 0px;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

button:hover {
    cursor: pointer;
}

%error {
    &::after {
        display: block;
        content: attr(data-error-text);
        position: absolute;
        top: calc(100% + 8px);
        left: 0;
        right: 0;
        color: #ff2f2f;
        font-size: 12px;
        font-weight: 400;
        text-align: center;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
